// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$form-floating-padding-y:         0rem;
$form-floating-input-padding-t:   0.625rem;
$form-floating-input-padding-b:   .625rem;
